@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient


 <AuthorizeView>
    <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                
                            <div class="top-row px-4">
                                <h4><b>@context.User.Identity.Name</b></h4> 
                                <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
                            </div>
                
                    
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>  


@code{
    private async Task LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/", true);
    }
}